include ./components/moment.pug

doctype html
html
  head
    title= data.i18n.title || ''
    include ./components/head.pug
    link(rel="stylesheet", href= `/${assets.moment[1]}`)
  body
    div.main
      +moment(data.momentData, data.i18n)
      div.divline
    script(src= `/${assets.moment[0]}`)
    script(src= `/${assets.layout[0]}`)