doctype html
html
  head
    title= data.title || ''
    include ./components/head.pug
    link(rel="stylesheet", href= `/${assets.moment[1]}`)
  body
    div.main
      div.container
        div.header
          div.avatar#avatar
            img(src= 'https://dn-coding-net-production-static.qbox.me/adba820b-e48f-45f8-a956-eb3125b926d1.JPG?imageMogr2/auto-orient/format/jpeg/crop/!150x150a0a0/thumbnail/80')
          div.header-content
            span.nickname 有鸟
            span.header-content-text 发布了一个话题
          span.create-time 5天前
        div.media
        div.content
    script(src= `/${assets.moment[0]}`)
    script(src= `/${assets.layout[0]}`)