@import "lib/common.scss";

.main{
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
}

.container{
  margin-top: px2rem(12px);
  width: px2rem(340px);
}

.header{
  display: flex;
  margin-bottom: px2rem(10px);
  width: 100%;
  height: px2rem(37px);

  align-items: center;
  justify-content: space-between;

  .avatar{
    overflow: hidden;
    margin-right: px2rem(10px);
    width: px2rem(37px);
    height: px2rem(37px);
    border-radius: 50%;
    background: $main-color;

    img{
      width: 100%;
    }
  }

  &-content{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: px2rem(14px);

    .nickname{
      color: $main-color;
    }

    &-text{
      margin-left: px2rem(5px);
      color: #A3A3A3;
    }
  }

  .create-time{
    color: #AAAAAA;
    font-size: px2rem(10px);
  }
}

.media{
  margin-bottom: px2rem(10px);
  width: 100%;
  height: px2rem(340px);
  background: $main-color;
}

.content{
  margin-bottom: px2rem(16px);
  width: 100%;
  height: px2rem(40px);
  background: $main-color;
}
